body {
    font-family: 'Arial', sans-serif;
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    background: rgba(209, 203, 203, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
}

#star-wars-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: outset rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

button:hover {
    background-color: #ffea80;
}

.container {
    display: flex;
    gap: 20px;
}

.table-container {
    width: 200px;
    margin-right: 200px; /* Add margin to create a gap */
}

table {
    width: 100%;
    background-color: #333;
    color: #fff;
}

thead {
    background-color: #222;
}

th, td {
    padding: 8px;
    text-align: center;
}

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}